<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>タスク変更</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header>
		<h1>タスク変更</h1>
	</header>
	<form th:action="@{/tasks/{taskId}/edit(taskId=${task.id})}" method="post">
		<table border="1">
			<tr>
				<th>分類</th>

				<td><select name="categoryId">
						<option th:each="category:${categories}" th:value="${category.id}" th:text="${category.name}"
							th:selected="${category.id == task.category.id}"></option>

				</td> </select><br>



			</tr>
			<tr>
				<th>タスク</th>
				<td>
					<input type="text" name="title" th:value="${task.title}">
				</td>
			</tr>
			<tr>
				<th>期限日</th>
				<td>
					<input type="date" name="closingdate" th:value="${task.closingdate}">
				</td>
			</tr>
			<tr>
				<th>進歩状況</th>
				<td><select name="progress">
						<option value="0">未着手</option>
						<option value="1">進行中</option>
						<option value="2">完了</option>
				</td> </select><br>
			</tr>

			<tr>
				<th>詳細・備考</th>
				<td>
					<textarea name="memo" th:value="${memo}"></textarea>
				</td>
			</tr>

		</table>
		<div class="button-container">
			<button style="margin-right: 10px;">更新</button>
			<button type="button" onclick="history.back()">前のページへ戻る</button>
		</div>
	</form>
</body>

</html>