<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>新規タスク作成</title>
	<link rel="stylesheet" href="/css/style.css">

</head>

<body>
	<header th:replace="~{header}"></header>
	<hr>
	<nav>
		<a href="/tasks">全タスク</a>

		<a th:each="category:${categories}" th:href="@{/tasks(categoryId=${category.id})}" th:text="${category.name}"
			style="margin-right: 5px;"></a>
		<br>
		<a href="/tasks/new">新規タスク作成</a>

	</nav>
	<main>
		<table border="1">
			<tr>
				<th>NO</th>
				<th>タイトル</th>
				<th>カテゴリー</th>
				<th>期限</th>
				<th>進歩状況</th>
				<th>メモ</th>

			</tr>
			<tr th:each="task:${tasks}">
				<td th:text="${task.id}"></td>
				<td th:text="${task.title}"></td>
				<td th:text="${task.category.name}"></td>
				<td th:text="${task.closing_date}"></td>
				<td th:if="${task.progress==0}">未着手 </td>
				<td th:if="${task.progress==1}">進行中 </td>
				<td th:if="${task.progress==2}">完了 </td>
				<td th:text="${task.memo}"></td>
				<td>
					<form th:action="@{/tasks/{taskId}/edit(taskId=${task.id})}" method="get">
						<button>更新</button>
					</form>
				</td>
				<td>
					<form th:action="@{/tasks/{taskId}/delete(taskId=${task.id})}" method="post">
						<button>削除</button>
					</form>
				</td>

			</tr>





		</table>
	</main>
	<hr>

</body>

</html>