<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>全タスク</title>
	<link rel="stylesheet" href="/css/style.css">

</head>

<body>
	<div class="container">
		<header th:replace="~{header}"></header>

		<hr>
		<nav>

			<a href="/tasks">タスク一覧</a>
			<h4>分類:
				<a th:each="category:${categories}" th:href="@{/tasks(categoryId=${category.id})}"
					th:text="${category.name}" style="margin-right: 5px;"></a>
			</h4>
		</nav>
		<main>
			<div class="link-area">
				<a href="/tasks/new">タスク作成</a>
				<a href="/categories/add">分類登録</a>
				<a th:href="@{/tasks(sort='closingdateAsc', title=${title})}">
					期限日が近い順
				</a>

			</div>


			<form action="/tasks" method="get">
				<div class="search-area">
					<input type="hidden" name="closingdate">
					<input type="text" name="title" th:value="${title}" placeholder="タスク名">

					<button>検索</button>
				</div>
			</form>
			<form action="/tasks" method="get">
				<div class="search-area">
					<h4>進歩状況:
						<select name="progress">
							<option value="0">未着手</option>
							<option value="1">進行中</option>
							<option value="2">完了</option>
						</select>

						<button>検索</button>
					</h4>
				</div>
			</form>










			<table border="1" th:if="${tasks.size()>0}">
				<tr>

					<th>タスク名</th>
					<th>分類</th>
					<th>期限日</th>
					<th>進歩状況</th>
					<th>詳細・備考</th>
					<th>編集</th>
					<th>削除</th>

				</tr>
				<tr th:each="task:${tasks}">
					<td th:text="${task.title}"></td>
					<td th:text="${task.category.name}"></td>
					<td th:text="${task.closingdate}" th:classappend="
						${task.closingdate != null and task.closingdate.isBefore(T(java.time.LocalDate).now().plusDays(1))}
						? 'danger'
						: (${task.closingdate != null and task.closingdate.isBefore(T(java.time.LocalDate).now().plusDays(4))}
							? 'warning'
							: '')">
					</td>
					<td th:if="${task.progress==0}">未着手 </td>
					<td th:if="${task.progress==1}">進行中 </td>
					<td th:if="${task.progress==2}">完了 </td>
					<td th:text="${task.memo}"></td>
					<td>
						<form th:action="@{/tasks/{taskId}/edit(taskId=${task.id})}" method="get">
							<button class="update-btn">更新</button>
						</form>
					</td>
					<td>
						<form th:action="@{/tasks/{taskId}/delete(taskId=${task.id})}" method="post"
							onclick="return confirm('本当にタスクを削除してもよろしいですか？');">
							<button class="delete-btn">削除</button>
						</form>
					</td>

				</tr>





			</table>
		</main>
	</div>

	<hr>

</body>

</html>