<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>ユーザー新規作成</title>
	<link rel="stylesheet" href="/css/style.css">

</head>

<body>
	<header>
		<h1>ユーザー新規作成</h1>
	</header>
	<main>
		<div th:each="error:${errorList}">
			<span th:text="${error}" style="color: red"></span>
		</div>
		<form action="/users/add" method="post">
			<input type="text" name="name" th:value="${name}" placeholder="名前"><br>
			<input type="text" name="email" th:value="${email}" placeholder="メールアドレス"><br>
			<input type="text" name="password" placeholder="パスワード"><br>
			<button>新規作成</button>
			<br> <span th:text="${message}" style="color: red"></span>
		</form>
		<br>
	</main>
</body>

</html>